body {
    background-color: #f2f2f2;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.searchForm {
    background-image: url(./images/backgroundImg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 150px;
    /* width: 100%; */
    border-radius: 10px;
}

.search-form {
    text-align: center;
}

.search__section--form > form {
    width: 60%;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 170px;
    left: 20%;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border-radius: 10px;
    border: none;
}